.App {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  width: 100%;
}
input,
button {
  border-radius: 4px;
  height: 2rem;
  width: 8rem;
}
/* HOME PAGE */
nav {
  background-color: rgb(27, 41, 59);
  color: white;
  height: 4rem;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.link {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  margin: 0 10px;
}
.link:hover {
  text-decoration: underline;
}
/* SEARCH */
.searchForm {
  display: flex;
}
.searchField {
  display: flex;
  height: 8rem;
  border-bottom: 1px dotted rgb(138, 154, 170);
  padding-bottom: 10px;
}
.searchField input,
.searchField h3 {
  margin: 5px;
}
.searchField h3 {
  color: rgb(138, 154, 170);
  font-weight: 200;
}
.searchField input {
  height: 30px;
}
.searchResult {
  margin: 0 0 0 10px;
  color: rgb(138, 154, 170);
  border: 1.5px solid rgb(138, 154, 170);
  height: 7rem;
  width: 15rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* LIST */
.container {
  position: relative;
  top: 4rem;
  margin: 1rem;
}
.contactContainer {
  display: flex;
  justify-content: space-evenly;
  height: 15rem;
  align-items: center;
}
.allContacts {
  margin: 10px auto;
  width: 80%;
  text-align: center;
}
.contactCard {
  border: 1.5px solid rgb(84, 105, 127);
  border-radius: 5px;
  margin: 1px;
  padding: 2px 10px;
  width: 20rem;
  height: 10rem;
}
ul {
  padding: 0;
  list-style-type: none;
}
.contactCard label {
  margin-top: 0.6rem;
  font-size: 1rem;
  font-weight: 700;
}

/* UPDATE */
.update {
  position: relative;
  top: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.update input {
  margin: 0;
  padding: 5px 10px;
}
.update h4,
.previewContact h4 {
  margin: 1px;
  color: rgb(138, 154, 170);
  font-weight: 200;
}
.updateForm {
  display: flex;
  justify-content: space-between;
  width: 22rem;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 7rem;
}
label {
  font-size: 0.7rem;
}
.greenButton,
.buttonContainer .greenButton {
  background-color: rgb(62, 131, 117);
  padding: 5px 10px;
  color: white;
}
.greyButton,
.buttonContainer .greyButton {
  background-color: rgb(84, 105, 127);
  padding: 5px 10px;
  color: white;
}
.greenButton:hover {
  background-color: rgb(54, 105, 94);
}
.greyButton:hover {
  background-color: rgb(224, 55, 13);
}
.hidden {
  display: none;
}

/* ADD CONTACT */
.create {
  background-color: rgb(62, 131, 117);
  width: 100%;
  margin: 0;
  position: relative;
  top: 4rem;
}
.create h2 {
  margin-top: 0;
  text-align: center;
  color: white;
}
.addForm {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  padding-bottom: 2rem;
}
.previewContact {
  position: relative;
  top: 4rem;
  width: 70%;
  margin: 0 auto;
}
